/* public/css/style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background: #fafafa;
  color: #262626;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}
.containerHF {
  max-width: 900px;
  margin: 0px auto;
  padding: 0 20px;
}
.containerF {
  max-height: 80px;
  margin: 20px 0px 20px 0px ;
  
}

.profile-header {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 12px;
}

.stats {
  display: flex;
  gap: 20px;
  margin: 15px 0;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.post img {
  width: 90%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.empty {
  text-align: center;
  color: #777;
}


.post-meta {
  padding: 10px 5px;
  font-size: 14px;
}

.post-actions {
  display: flex;
  gap: 15px;
  margin-bottom: 6px;
}

.post-actions span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.post-actions img {
  width: 16px;
  height: 16px;
}

.caption {
  margin-bottom: 4px;
}

.date {
  font-size: 12px;
  color: #888;
}
